fastapi
uvicorn
python-multipart
langchain-text-splitters
langchain-community>=0.2.0
langchain-text-splitters>=0.2.0
pypdf>=4.0.0
langchain-aws>=0.1.0
langchain-core>=0.2.0
boto3>=1.34.0
lancedb>=0.8.0
pyarrow>=14.0.0
